<div class="dan-cursor__list-images" data-clases="{% for item in content.default.medias %}{{ item.class }} {% endfor %}" data-images="{% for item in content.default.medias %}{{ item.url }}d110777{% endfor %}"></div>

<div class="dan-cursor__list-texts" data-clases="{% for item in content.default.texts %}{{ item.class }} {% endfor %}" data-texts="{% for item in content.default.texts %}{{ item.text }}d110777{% endfor %}"></div>

<div class="dan-cursor__list-sizes" data-clases="{% for item in content.default.sizes %}{{ item.class }} {% endfor %}" data-sizes="{% for item in content.default.sizes %}{{ item.size }} {% endfor %}"></div>

<div class="dan-cursor__list-backdrops" data-clases="{% for item in content.default.backdrops %}{{ item.class }} {% endfor %}" data-backdrops="{% for item in content.default.backdrops %}{{ item.backdrop.style }} {% endfor %}"></div>

<div class="dan-cursor__list-blurs" data-clases="{% for item in content.default.blurs %}{{ item.class }} {% endfor %}" data-blurs="{% for item in content.default.blurs %}{{ item.blur.style }} {% endfor %}"></div>

<div class="dan-cursor__list-skews" data-clases="{% for item in content.default.skews %}{{ item.class }} {% endfor %}" data-skews="{% for item in content.default.skews %}{{ item.skew }} {% endfor %}"></div>

<div class="dan-cursor__list-colors" data-clases="{% for item in content.default.colors %}{{ item.class }} {% endfor %}" data-colors="{% for item in content.default.colors %}{{ item.color }}d110777{% endfor %}"></div>

<div class="dan-cursor__list-exclusions" data-clases="{% for item in content.default.exclusions %}{{ item.class }} {% endfor %}"></div>

<div class="dan-cursor__list-hiddens" data-clases="{% for item in content.default.hiddens %}{{ item.class }} {% endfor %}"></div>

<div class="dan-cursor__list-sticks" data-fromclases="{% for item in content.default.sticks %}{{ item.from_class }} {% endfor %}" data-toclases="{% for item in content.default.sticks %}{{ item.to_class }} {% endfor %}"></div>

<div class="dan-cursor__list-magnetics" data-clases="{% for item in content.default.magnetics %}{{ item.class }} {% endfor %}" data-speed="{% for item in content.default.magnetics %}{{ item.speed }} {% endfor %}" data-intensity="{% for item in content.default.magnetics %}{{ item.intensity }} {% endfor %}"></div>

<div class="dan-cursor__list-repels" data-clases="{% for item in content.default.repels %}{{ item.class }} {% endfor %}" data-speed="{% for item in content.default.repels %}{{ item.speed }} {% endfor %}" data-intensity="{% for item in content.default.repels %}{{ item.intensity }} {% endfor %}"></div>