<div class="dan-tippy__list" 
data-classes="{% for item in content.default.tippy_elements %}{{ item.element }}d4511782{% endfor %}" 
data-arrowColors="{% for item in content.default.tippy_elements %}{{ item.arrow_color }}d4511782{% endfor %}"
data-content="{% for item in content.default.tippy_elements %}{{ item.text }}d4511782{% endfor %}"
data-showDuration="{% for item in content.default.tippy_elements %}{{ item.show_duration }}d4511782{% endfor %}"
data-hideDuration="{% for item in content.default.tippy_elements %}{{ item.hide_duration }}d4511782{% endfor %}"
data-arrow="{% for item in content.default.tippy_elements %}{% if item.arrow %}true{% endif %}d4511782{% endfor %}"
data-showDelay="{% for item in content.default.tippy_elements %}{{ item.show_delay }}d4511782{% endfor %}"
data-hideDelay="{% for item in content.default.tippy_elements %}{{ item.hide_delay }}d4511782{% endfor %}"
data-triggerAnimation="{% for item in content.default.tippy_elements %}{{ item.event }}d4511782{% endfor %}"
data-animation="{% for item in content.default.tippy_elements %}{{ item.animation }}d4511782{% endfor %}"
data-inertia="{% for item in content.default.tippy_elements %}{% if item.inertia %}true{% endif %}d4511782{% endfor %}"
data-followCursor="{% for item in content.default.tippy_elements %}{{ item.follow_cursor }}d4511782{% endfor %}"
data-hideOnClick="{% for item in content.default.tippy_elements %}{% if item.hide_on_click %}true{% endif %}d4511782{% endfor %}"
data-interactive="{% for item in content.default.tippy_elements %}{% if item.interactive %}true{% endif %}d4511782{% endfor %}"
data-maxWidth="{% for item in content.default.tippy_elements %}{{ item.max_width.style }}d4511782{% endfor %}"
data-placement="{% for item in content.default.tippy_elements %}{{ item.placement }}d4511782{% endfor %}"
data-zIndex="{% for item in content.default.tippy_elements %}{{ item.zindex }}d4511782{% endfor %}"
data-touch="{% for item in content.default.tippy_elements %}{% if item.touch %}true{% endif %}d4511782{% endfor %}"
>
</div>