%%CHILDREN%%
<div class="dan-elements-list"
data-shape="{% for item in content.physics_objects.object %}{{ item.shape }}d4511782{% endfor %}"
data-horizontal="{% for item in content.physics_objects.object %}{% if item.horizontal_position_x_.style is defined %}{{ item.horizontal_position_x_.style }}{% else %}{{ item.horizontal_position }}{% endif %}d4511782{% endfor %}"
data-vertical="{% for item in content.physics_objects.object %}{% if item.vertical_position_y_.style is defined %}{{ item.vertical_position_y_.style }}{% else %}{{ item.vertical_position }}{% endif %}d4511782{% endfor %}"
data-width="{% for item in content.physics_objects.object %}{{ item.rectangle_width }}d4511782{% endfor %}"
data-height="{% for item in content.physics_objects.object %}{{ item.rectangle_height }}d4511782{% endfor %}"
data-radius-circle="{% for item in content.physics_objects.object %}{{ item.circle_radius }}d4511782{% endfor %}"
data-radius-polygon="{% for item in content.physics_objects.object %}{{ item.polygon_radius }}d4511782{% endfor %}"
data-sides="{% for item in content.physics_objects.object %}{{ item.polygon_sides }}d4511782{% endfor %}"
data-border-radius="{% for item in content.physics_objects.object %}{{ item.border_radius }}d4511782{% endfor %}"
data-image-url="{% for item in content.physics_objects.object %}{{ item.url }}d4511782{% endfor %}"
data-image-scale="{% for item in content.physics_objects.object %}{{ item.image_scale }}d4511782{% endfor %}"
data-fill="{% for item in content.physics_objects.object %}{{ item.fill }}d4511782{% endfor %}"
data-stroke-color="{% for item in content.physics_objects.object %}{{ item.stroke_color }}d4511782{% endfor %}"
data-stroke-width="{% for item in content.physics_objects.object %}{{ item.stroke_width }}d4511782{% endfor %}"
data-links="{% for item in content.physics_objects.object %}{{ item.link|default('unset') }}d4511782{% endfor %}"
data-links-tabs="{% for item in content.physics_objects.object %}{% if item.link_target %}1{% else %}0{% endif %}d4511782{% endfor %}"
data-static="{% for item in content.physics_objects.object %}{% if item.static %}1{% else %}0{% endif %}d4511782{% endfor %}"
data-restitution="{% for item in content.physics_objects.object %}{{ item.restitution }}d4511782{% endfor %}"
data-friction="{% for item in content.physics_objects.object %}{{ item.friction }}d4511782{% endfor %}"
data-friction-air="{% for item in content.physics_objects.object %}{{ item.friction_air }}d4511782{% endfor %}"
data-density="{% for item in content.physics_objects.object %}{{ item.density }}d4511782{% endfor %}"
></div>
<canvas id="dan-physics-canvas"></canvas>