{% if content.content.link %}
  {{ macros.linkStart(content.content.link, 'dan-twist-reveal__anchor') }}
  <span class="dan-letter-launcher__inner" data-content="{{ content.content.text|escape('html_attr') }}">
    {{ content.content.text|raw }}
  </span>
  {{ macros.linkEnd() }}
{% else %}
  <span class="dan-letter-launcher__inner" data-content="{{ content.content.text|escape('html_attr') }}">
    {{ content.content.text|raw }}
  </span>
{% endif %}