{% if content.content.link %}
  {{ macros.linkStart(content.content.link, 'dan-typed__anchor') }}
  {% if content.content.prefix %}
    <span class="dan-typed__prefix">{{ content.content.prefix }}</span>
  {% endif %}
  <span class="dan-typed__typed" data-typed-titles="{% for item in content.content.sentences %}{{ item.text }}next11{% endfor %}"></span>
  {% if content.content.suffix %}
    <span class="dan-typed__suffix">{{ content.content.suffix }}</span>
  {% endif %}
  {{ macros.linkEnd() }}
{% else %}
  {% if content.content.prefix %}
    <span class="dan-typed__prefix">{{ content.content.prefix }}</span>
  {% endif %}
  <span class="dan-typed__typed" data-typed-titles="{% for item in content.content.sentences %}{{ item.text }}next11{% endfor %}"></span>
  {% if content.content.suffix %}
    <span class="dan-typed__suffix">{{ content.content.suffix }}</span>
  {% endif %}
{% endif %}