<div class="dan-glitchy__list" 
data-clases="{% for item in content.default.glitchy_elements %}{{ item.element }}d4511782{% endfor %}" 
data-playmodes="{% for item in content.default.glitchy_elements %}{{ item.play_mode }}d4511782{% endfor %}"
data-durations="{% for item in content.default.glitchy_elements %}{{ item.animation_duration.style }}d4511782{% endfor %}"
data-iterations="{% for item in content.default.glitchy_elements %}{{ item.repeat_number }}d4511782{% endfor %}"
data-easings="{% for item in content.default.glitchy_elements %}{{ item.css_easing }}d4511782{% endfor %}"
data-starts="{% for item in content.default.glitchy_elements %}{{ item.glitch_time_start }}d4511782{% endfor %}"
data-ends="{% for item in content.default.glitchy_elements %}{{ item.glitch_time_end }}d4511782{% endfor %}"
data-velocitys="{% for item in content.default.glitchy_elements %}{{ item.shake_velocity }}d4511782{% endfor %}"
data-amplitudexs="{% for item in content.default.glitchy_elements %}{{ item.x_amplitude }}d4511782{% endfor %}"
data-amplitudeys="{% for item in content.default.glitchy_elements %}{{ item.y_amplitude }}d4511782{% endfor %}"
data-counts="{% for item in content.default.glitchy_elements %}{{ item.layers_number }}d4511782{% endfor %}"
data-velocitysteps="{% for item in content.default.glitchy_elements %}{{ item.steps_number }}d4511782{% endfor %}"
data-minheights="{% for item in content.default.glitchy_elements %}{{ item.minheight_per_slice }}d4511782{% endfor %}"
data-maxheights="{% for item in content.default.glitchy_elements %}{{ item.maxheight_per_slice }}d4511782{% endfor %}"
data-pulses="{% for item in content.default.glitchy_elements %}{% if item.final_pulse %}2{% else %}1{% endif %}d4511782{% endfor %}">
</div>