{% if content.content.link %}
  {{ macros.linkStart(content.content.link, 'dan-strip-button__anchor') }}
    <span class='dan-strip-button__bg'></span>
    <span class='dan-strip-button__inner' data-text='{{ content.content.text }}'>
        <span class='dan-strip-button__text'>{{ content.content.text }}</span>
    </span>
  {{ macros.linkEnd() }}
{% else %}
    <span class='dan-strip-button__bg'></span>
    <span class='dan-strip-button__inner' data-text='{{ content.content.text }}'>
        <span class='dan-strip-button__text'>{{ content.content.text }}</span>
    </span>
{% endif %}